* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input {
  padding-left: 1rem;
  outline: none;
  padding: .75rem;
}

body {
  padding: 1rem 2rem;
  background: #201b1b;
}

.add-item {
  display: flex;
  padding-top: 1rem;
}

.add-item form {
  width: 100%;
  display: flex;
}

.add-item input {
  flex-grow: 1;
  background: transparent;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid inherit;
  margin-right: 1.25rem;
  border-radius: 0;
  font-size: 16px;
}

.add-item input::placeholder {
  color: #fff;
}

.add-item input:focus {
  border-bottom: 1px solid #1fad1f;
}

.add-item button {
  padding: 5px 1rem;
  font-size: .75rem;
  line-height: 1;
  background: #3f3a3a;
  border: none;
  color: #dadada;
  /* border-bottom: 1px solid #fff; */
}

.habit-list {
  max-height: 80vh;
  overflow-y: auto;
}

.habit-item {
  background: #363333;
  color: #dadada;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #1a171d;
  color: #fff;
  padding: 1rem 2rem;
}

.overlay-top {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.overlay-day {
  padding-top: 5rem;
  text-align: center;
}

.overlay-arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.overlay-metric {
  text-align: center;
  margin-bottom: 1rem;
}

.overlay-time {
  font-size: 2rem;
  color: #38d9ef;
}

.overlay-bottom {
  display: flex;
  padding-bottom: 3rem;
}

.overlay-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a5190;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 3px;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: none;
}

.overlay-button:hover {
  background: #0692a5;
  color: #fff;
}

.overlay-button.active {
  background: #0692a5;
}

.overlay-button:active {
  background: #0692a5;
}